*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --light-grey: #e1e0e0;
  --dark-purple: #7c0e7c;
  --black: #000;
  --gray: #E3E1EB;
}

footer{
  background-color: var(--gray);
  padding: 20px 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;
}

ul{
  display: flex;
  justify-content: space-between;
}

li{
  list-style-type: none;
  flex: 1;
  text-align: center;
}

a{
  text-align: center;
  display: block;
  align-self: center;
  text-decoration: none;
  color: black;
}

footer ul:nth-of-type(3){
  gap: 10px;
  justify-content: center;
}

footer ul:nth-of-type(3) li{
  flex:0;
  font-size: 1.7rem;
}

a:hover{
  color: rgb(1, 113, 250);
}